
<!-- TODO: add a warning when the loaded map is too big. -->
<!-- TODO: add a warning when the placed objects have out of bounds coordinates. -->
<!-- TODO: add a warning when the placed objects have overlapping coordinates. -->
<table *ngIf="map">
  <tr *ngFor="let row of matrix">
    <td
      *ngFor="let cell of row"
      (mouseover)="emitHoveredCell(cell)"
      (click)="emitHoveredCell(cell)"
    >
      <div
        class="cell-value"
        [ngStyle]="{ display: cell.value > 1 ? 'block' : 'none' }"
      >
        {{ cell.value }}
      </div>
      <!-- {{ cell.type }} -->
      <img src="../../assets/treasure.svg" *ngIf="cell.type === 'Treasure'" />
      <img src="../../assets/mountain.svg" *ngIf="cell.type === 'Mountain'" />
      <img src="../../assets/mountain.svg" *ngIf="cell.type === 'Player'" />
    </td>
  </tr>
</table>
