:host {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px 20px;

  table {
    border-spacing: 3px;
    padding: 10px;
    border-radius: 6px;
    background: #a27d3a;
    box-shadow: #3f71a4 0px 6px 20px 7px;
    position: relative;
    .north,
    .east,
    .south,
    .west,
    .title {
      position: absolute;
      transform: translate(-50%, -50%);
      z-index: 2;
      color: white;
      font-weight: 500;
    }
    .north {
      top: 0;
      left: 50%;
    }
    .east {
      top: 50%;
      left: 100%;
    }
    .south {
      top: 100%;
      left: 50%;
    }
    .west {
      top: 50%;
      left: 0;
    }
    .title {
      top: -25px;
      left: 50%;
      font-size: 20px;
    }
    tr {
      td {
        min-height: 60px;
        height: 60px;
        min-width: 60px;
        width: 60px;
        text-align: center;
        background: #87b121;
        border: solid #87b121 2px;
        border-radius: 2px;
        transition: ease border 0.05s;
        position: relative;
        &:hover {
          border: solid hsl(77deg 69% 58%) 2px;
          cursor: help;
        }
        img,
        .was-player {
          height: 30px;
          width: 30px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .player-name {
          position: absolute;
          bottom: -4px;
          left: 50%;
          transform: translateX(-50%);
          font-size: 0.8rem;
          max-width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 2px;
        }
        .treasure-value {
          position: absolute;
          top: -4px;
          right: 4px;
        }
        .player-value {
          position: absolute;
          top: -4px;
          left: 4px;
        }
      }
    }
  }
}
