<table *ngIf="map">
  <tr *ngFor="let row of map.matrix">
    <td
      *ngFor="let cell of row"
      (mouseover)="emitHoveredCell(cell)"
      (click)="emitHoveredCell(cell)"
    >
      <img src="../../assets/treasure.svg" *ngIf="cell.type === 'Treasure' || cell.type === 'Treasure&Player'" />
      <img src="../../assets/mountain.svg" *ngIf="cell.type === 'Mountain'" />
      <img
        [ngStyle]="{
          transform: 'translate(-50%, -50%) rotate(' + cell.orientation + 'deg)'
        }"
        src="../../assets/traveler.svg"
        *ngIf="cell.type === 'Player' || cell.type === 'Treasure&Player'"
      />
      
      <div
        class="treasure-value"
        *ngIf="cell.type === 'Treasure' || cell.type === 'Treasure&Player'"
        [ngStyle]="{ display: cell.treasureCount > 0 ? 'block' : 'none' }"
      >
        {{ cell.treasureCount }}
      </div>
      <div
        class="player-value"
        *ngIf="cell.type === 'Player' || cell.type === 'Treasure&Player'"
        [ngStyle]="{ display: cell.playerValue > 0 ? 'block' : 'none' }"
      >
        {{ cell.playerValue }}
      </div>

      <div class="was-player player-name" *ngIf="cell.type === 'WasPlayer'">
        ({{ cell.stepCount }})
      </div>
      <div class="player-name" *ngIf="cell.type === 'WasPlayer'">
        {{ cell.lastPlayerName }}
      </div>
      <div
        class="player-name"
        *ngIf="cell.type === 'Player' || cell.type === 'Treasure&Player'"
      >
        {{ cell.name }}
      </div>
    </td>
  </tr>
  <div class="north">N</div>
  <div class="east">E</div>
  <div class="south">S</div>
  <div class="west">W</div>

  <div class="title">{{ title }}</div>
</table>
