/* You can add global styles to this file, and also import other style files */
:host,
* {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
}
html {
  height: 100%;
  background-color: #2a4563;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}